@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Lobster&display=swap");
* {
	font-family: Raleway, Arial;
	font-weight: 400;
}
body {
	margin: 0;
	padding: 0;
	background-color: rgb(119, 211, 44);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1 {
	display: grid;
	grid-column: 2;
	grid-row: 1;
	text-align: center;
	margin-top: 1em;
	font-family: Lobster;
}

div#mainContainer {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 7fr) 1fr;
	grid-template-rows: 1em 3em minmax(auto, 1fr) 1fr;
	grid-gap: 1em;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	div#navBarContainer {
		display: grid;
		grid-column: 2;
		grid-row: 2;
		grid-gap: 1em;
		text-align: center;
		button {
			padding: 0.6em;
			border: 0.1em solid rgba(0, 0, 0, 0);
			border-radius: 0.5em;
			background: #fff;
			box-shadow: 0 0.2em 0.3em 0.1em rgba(0, 0, 0, 0.1);
			&:hover {
				background-color: rgb(247, 250, 54);
				border: 0.1em solid rgb(233, 85, 27);
			}
		}
	}
	div#recipesContainer {
		display: grid;
		grid-column: 2;
		grid-row: 3;
		grid-gap: 1em;
		text-align: center;
		padding-bottom: 2em;
		border-radius: 0.5em;
		box-shadow: 0 0.5em 1em 0.2em rgba(0, 0, 0, 0.2);
		background-color: ghostwhite;
		h2 {
			margin: 0.5em;
		}
		hr {
			margin: 1em;
			color: rgba(255, 255, 255, 0.6);
		}
		h5 {
			text-align: right;
			margin-right: 2em;
			padding-left: min(6em, 10%);
		}
		div.ingredients,
		div.instructions {
			text-align: left;
			margin: 0 2em;
		}
	}
}

div#createRecipeContainer {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 7fr) 1fr;
	grid-template-rows: 1em 3em minmax(auto, 1fr) 1fr;
	grid-gap: 1em;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	section#createRecipe {
		display: grid;
		grid-column: 2;
		grid-row: 2;
		ul {
			margin: 0;
			padding: 0;
			li {
				display: grid;
				align-items: center;
				margin: 0.5em 2em;
				label {
					text-align: left;
					padding-bottom: 0.1em;
				}
			}
		}
		fieldset#newRecipe {
			background-color: ghostwhite;
		}
		fieldset#ingredients {
			padding: 1em 0;
		}
		button {
			margin: 0.8em;
			padding: 0.3em 0.5em;
			float: right;
			border: 0.1em solid rgba(0, 0, 0, 0);
			border-radius: 0.5em;
			background: #fff;
			box-shadow: 0 0.2em 0.3em 0.1em rgba(0, 0, 0, 0.1);
			&:hover {
				background-color: rgb(247, 250, 54);
				border: 0.1em solid rgb(233, 85, 27);
			}
		}
	}
}

fieldset {
	background-color: #fff;
	border: none;
	margin: 1em 2em;
	padding: 0.1em 0;
	border-radius: 0.5em;
	box-shadow: 0 0.2em 0.3em 0.1em rgba(0, 0, 0, 0.2);
	background-color: rgb(183, 240, 176);
	legend {
		padding: 0.3em;
		margin-left: 1em;
		background-color: #fff;
		border-radius: 0.5em;
		box-shadow: 0 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.2);
		font-size: 1.4em;
		font-family: Lobster;
	}
}

div#signup {
	text-align: center;

	div {
		margin: 1em 1em;

		input {
			border-radius: 5px;
			padding: 1em 2em;
		}
	}

	button {
		padding: 0.5em 2em;
		border-radius: 5px;
		background-color: rgb(247, 250, 54);
	}
}

div#login {
	text-align: center;

	div {
		margin: 1em 1em;

		input {
			border-radius: 5px;
			padding: 1em 2em;
		}
	}

	button {
		padding: 0.5em 2em;
		border-radius: 5px;
		background-color: rgb(247, 250, 54);
	}
}
